<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.dsp4e.launcher.ReadmeLaunchDelegate"
            id="dsp.launchType"
            modes="debug"
            name="Debug Adapter Launcher"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.dsp4e.launcher.DSPTabGroup"
            description="Debug using the debug protocol"
            id="dsp.tabGroup"
            type="dsp.launchType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="dsp.launchType"
            icon="icons/pda.gif"
            id="dsp.typeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.dsp4e.presentation.DSPDebugModelPresentation"
            id="dsp.debugModel">
      </debugModelPresentation>
   </extension>

</plugin>
